@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.slanted {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/* Hide scrollbar for all elements globally */
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/font/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('/font/EuclidCircular-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
    font-family: 'Euclid Circular', sans-serif;
}
